@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brixton";
  src: url("../public/fonts/Brixton-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Big Caslon Medium";
  src: url("../public/fonts/BigCaslon-Medium.woff2") format("woff2");
}
